#carousel {
  .carousel-control-prev {
    width: $fs-1;
    height: $fs-1;
    top: 83%;
    left: 45%;
    z-index: 20;
  }
  .carousel-control-next {
    width: $fs-1;
    height: $fs-1;
    top: 83%;
    right: 45%;
    z-index: 20;
  }
  ol {
    bottom: 10%;
    width: 12%;
    margin: auto;
    height: 10%;
    border-radius: 50px;
    background-color: rgba(0,20,46,0.7);
    li {
      margin-top: 10%;
    }
  }
  .carousel-caption {
    text-align: start;
    top: 2rem;
    left: 3rem;
    width: 100%;
    height: 40%;
    a {
      span {
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
